body {
    background-color: #f9f9f9;
}

.pageTitle {
    text-align: center;
    font-family: 'Times New Roman';
}

.mainSlide {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px;
    padding: 20px;
    background-color: #ffffff;
    max-width: 90%;
}
